[submodule "teller-protocol-v2-audit-2024/packages/contracts/lib/forge-std"]
	path = teller-protocol-v2-audit-2024/packages/contracts/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "teller-protocol-v2-audit-2024/packages/services/graph-node"]
	path = teller-protocol-v2-audit-2024/packages/services/graph-node
	url = https://github.com/teller-protocol/graph-node
